<form action="" [formGroup]="formularioConversion" (ngSubmit)="submit()">
<p>Ingrese numero decimal
  <input type="text" formControlName="numeroDecimal">
</p>
<p>Convertir a:
  <input type="radio" formControlName="base" value="octal">Octal
  <input type="radio" formControlName="base" value="hexadecimal">Hexadecimal
</p>
<p>Elevar a:
  <select name="" id="" formControlName="potencia">
    <option value="">2</option>
    <option value="">3</option>
    <option value="">4</option>
  </select>
</p>
<p><input type="checkbox" formControlName="largo">Mostrar cantidad de digitos</p>
<p><button type="submit">Confirmar</button></p>
<div>
  <p>Conversion: {{conversion}}</p>
  <p>Potencia: {{potenciaNumero}}</p>
  <p>Cantidad de digitos: {{cantidad}}</p>
</div>


</form>