<!-- <h1 style="text-align: center;">
  Bienvenido a {{title}}
</h1> -->

<!-- <div>
  <p>Nombre del empleado: {{nombre}}</p>
  <p>Edad: {{edad}}</p>
  
  <p>En 5 anos el empleado tengrada {{edad + 5}}</p>

  <p><a href="{{sitioWeb}}">Ir a google</a></p>

  <p>Los ultimos 3 sueldos son: {{sueldos[0]}} {{sueldos[1]}} {{sueldos[2]}}</p>

  <p>el monto total de los ultimos 3 sueldos es: {{sueldos[0] + sueldos[1] + sueldos[2]}}</p>

  <p>En los ultimos 3 meses ha ganado: {{ultimos3sueldos()}}</p>
  <p>{{esActivo()}}</p>
</div> -->

<!-- <app-sintasis-template></app-sintasis-template> -->

<!-- <app-eventos></app-eventos> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-Enlace-Propiedades></app-Enlace-Propiedades> -->

<!-- <div style="text-align:center">
  <app-dado valor="{{valor1}}"></app-dado>
  <app-dado valor="{{valor2}}"></app-dado>
  <app-dado valor="{{valor3}}"></app-dado> 
  <app-dado [valor]="valor1"></app-dado>
  <app-dado [valor]="valor2"></app-dado>
  <app-dado [valor]="valor3"></app-dado>
  <hr>
  <button (click)="tirar()">Tirar</button>
  <hr>
  <p>Resultado: {{resultado}}</p>
 </div> -->

<!-- <div style="text-align: center;"> 
  <h1>Prueba de la componente cronometro</h1>
  <app-Cronometro [inicio]="15" (multiplo10)="actualizar($event)"></app-Cronometro>
  <h2>Evento</h2>
  <h3>{{mensaje()}}</h3>
 </div> -->

<!-- <div>
  <app-selector-numerico [minimo]="1" [maximo]="10" #selector1></app-selector-numerico>
  <br>
   <button (click)="selector1.fijar(1)">Fijar en  1</button><br>
   <button (click)="selector1.fijar(5)">Fijar en  5</button><br>
   <button (click)="selector1.fijar(10)">Fijar en  10</button><br>   
 </div> -->

<!-- <div>
  <app-selector-numerico-two [minimo]="0" [maximo]="20" #selector1></app-selector-numerico-two>
  <br>  
  <button (click)="fijarSelector1(0)">Fijar en 1</button><br>
  <button (click)="fijarSelector1(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector1(20)">Fijar en 20</button>
  <hr>
  <app-selector-numerico-two [minimo]="1" [maximo]="20" #selector2></app-selector-numerico-two>    
  <br>
  <button (click)="fijarSelector2(0)">Fijar en 1</button><br>
  <button (click)="fijarSelector2(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector2(20)">Fijar en 20</button>  
</div> -->

<!-- <input type="text" [ngModel]="nombre()"> -->

<!-- <div>
  <p>Ingrese nombre<input type="text" [(ngModel)]="nombre"></p>
  <p>Ingrese apellido<input type="text" [(ngModel)]="apellido"></p>  
  <p>Nombre completo:{{nombre}},{{apellido}}</p>
</div> -->

<app-formulario-plantillas></app-formulario-plantillas>
